    
@{
    ViewBag.Title = "Index";
}

<!-- MAIN -->
<main role="main">

    <!-- SECTION 1 -->
    <!-- TOP SECTION -->
    <section class="grid">
        <!-- Main Carousel -->
        <div class="s-12 margin-bottom carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-hide-arrows background-dark">
            <div class="line" style="background-color:darkred; height:10px;"></div>
            <div class="item background-image" style="background-image:url(/images/image2.jpg)">
                <p style="visibility:hidden" class="text-padding text-strong text-white text-s-size-30 text-size-60 text-uppercase background-primary">We are Web design Heroes</p>
                <p style="visibility:hidden" class="text-padding text-size-20 text-dark text-uppercase background-white">Con nonummy sem integer interdum volutpat dis eget eligendi aliquip dolorum magnam.</p>
            </div>
            <div class="line" style="background-color:darkred; height:10px;"></div>
            <div class="item background-image" style="background-image:url(/images/image1.jpg)">
                <p style="visibility:hidden" class="text-padding text-strong text-white text-s-size-30 text-size-60 text-uppercase background-primary">We are Web design Heroes</p>
                <p style="visibility:hidden" class="text-padding text-size-20 text-dark text-uppercase background-white">Con nonummy sem integer interdum volutpat dis eget eligendi aliquip dolorum magnam.</p>
            </div>
            <div class="line" style="background-color:darkred; height:10px;"></div>
            <div class="item background-image" style="background-image:url(/images/image4.jpg)">
                <p style="visibility:hidden" class="text-padding text-strong text-white text-s-size-30 text-size-60 text-uppercase background-primary">We are Web design Heroes</p>
                <p style="visibility:hidden" class="text-padding text-size-20 text-dark text-uppercase background-white">Con nonummy sem integer interdum volutpat dis eget eligendi aliquip dolorum magnam.</p>
            </div>
            <div class="line" style="background-color:darkred; height:10px;"></div>
        </div>
    </section>

    <!-- SECTION 2 -->

    <section class="grid margin text-center">
        <a href="Results" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-red">
            <i style="font-size:70px; color:white;" class="fa-regular fa-futbol"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Results</h3>
        </a>
        <a href="ResultTable" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-blue">
            <i style="font-size:70px; color:white;" class="fa-solid fa-list-ul"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Result Table</h3>
        </a>

        <!-- Image-->
        <img class="m-12 l-6 l-row-2 margin-bottom" src="~/images/image3.jpg">

        <a href="Players" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-orange">
            <i style="font-size:70px; color:white;" class="fa-solid fa-user"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Players</h3>
        </a>
        <a href="Teams" class="s-12 m-6 l-3 padding-2x vertical-center margin-bottom background-aqua">
            <i style="font-size: 70px; color: white;" class="fa-solid fa-users-between-lines"></i>
            <h3 class="text-strong text-size-20 text-line-height-1 margin-bottom-30 text-uppercase">Teams</h3>
        </a>
    </section>

</main>

